@charset "UTF-8"

/*
 * Rules for syntax highlighting, based on output from Pygments’ lovelace style:
 * https://bitbucket.org/birkenfeld/pygments-main/src/default/pygments/styles/lovelace.py
 */
body .c { color: #888888; font-style: italic } /* Comment */
body .err { background-color: #a848a8 } /* Error */
body .k { color: #2838b0 } /* Keyword */
body .o { color: #666666 } /* Operator */
body .p { color: #888888 } /* Punctuation */
body .ch { color: #287088; font-style: italic } /* Comment.Hashbang */
body .cm { color: #888888; font-style: italic } /* Comment.Multiline */
body .cp { color: #289870 } /* Comment.Preproc */
body .cpf { color: #888888; font-style: italic } /* Comment.PreprocFile */
body .c1 { color: #888888; font-style: italic } /* Comment.Single */
body .cs { color: #888888; font-style: italic } /* Comment.Special */
body .gd { color: #c02828 } /* Generic.Deleted */
body .ge { font-style: italic } /* Generic.Emph */
body .gr { color: #c02828 } /* Generic.Error */
body .gh { color: #666666 } /* Generic.Heading */
body .gi { color: #388038 } /* Generic.Inserted */
body .go { color: #666666 } /* Generic.Output */
body .gp { color: #444444 } /* Generic.Prompt */
body .gs { font-weight: bold } /* Generic.Strong */
body .gu { color: #444444 } /* Generic.Subheading */
body .gt { color: #2838b0 } /* Generic.Traceback */
body .kc { color: #444444/*; font-style: italic*/ } /* Keyword.Constant */
body .kd { color: #2838b0/*; font-style: italic*/ } /* Keyword.Declaration */
body .kn { color: #2838b0 } /* Keyword.Namespace */
body .kp { color: #2838b0 } /* Keyword.Pseudo */
body .kr { color: #2838b0 } /* Keyword.Reserved */
body .kt { color: #2838b0/*; font-style: italic*/ } /* Keyword.Type */
body .m { color: #444444 } /* Literal.Number */
body .s { color: #b83838 } /* Literal.String */
body .na { color: #388038 } /* Name.Attribute */
body .nb { color: #388038 } /* Name.Builtin */
body .nc { color: #287088 } /* Name.Class */
body .no { color: #b85820 } /* Name.Constant */
body .nd { color: #287088 } /* Name.Decorator */
body .ni { color: #709030 } /* Name.Entity */
body .ne { color: #908828 } /* Name.Exception */
body .nf { color: #785840 } /* Name.Function */
body .nl { color: #289870 } /* Name.Label */
body .nn { color: #289870 } /* Name.Namespace */
body .nt { color: #2838b0 } /* Name.Tag */
body .nv { color: #b04040 } /* Name.Variable */
body .ow { color: #a848a8 } /* Operator.Word */
body .w { color: #a89028 } /* Text.Whitespace */
body .mb { color: #444444 } /* Literal.Number.Bin */
body .mf { color: #444444 } /* Literal.Number.Float */
body .mh { color: #444444 } /* Literal.Number.Hex */
body .mi { color: #444444 } /* Literal.Number.Integer */
body .mo { color: #444444 } /* Literal.Number.Oct */
body .sb { color: #b83838 } /* Literal.String.Backtick */
body .sc { color: #a848a8 } /* Literal.String.Char */
body .sd { color: #b85820; font-style: italic } /* Literal.String.Doc */
body .s2 { color: #b83838 } /* Literal.String.Double */
body .se { color: #709030 } /* Literal.String.Escape */
body .sh { color: #b83838 } /* Literal.String.Heredoc */
body .si { color: #b83838/*; text-decoration: underline*/ } /* Literal.String.Interpol */
body .sx { color: #a848a8 } /* Literal.String.Other */
body .sr { color: #a848a8 } /* Literal.String.Regex */
body .s1 { color: #b83838 } /* Literal.String.Single */
body .ss { color: #b83838 } /* Literal.String.Symbol */
body .bp { color: #388038; font-style: italic } /* Name.Builtin.Pseudo */
body .vc { color: #b04040 } /* Name.Variable.Class */
body .vg { color: #908828 } /* Name.Variable.Global */
body .vi { color: #b04040 } /* Name.Variable.Instance */
body .il { color: #444444 } /* Literal.Number.Integer.Long */
